.instagram{
    border: black 10px solid;
}

.celphone{
    border: violet 10px solid;
}

.infos{
    border: pink 10px solid;
}

.continuacao{
    border: purple 10px solid;
}

.login{
    border: rgba(202, 34, 218, 0.281) 10px solid;
}

.downlod{
    border: rgb(102, 20, 179) 10px solid;
}

.continue{

}

.remover{
    
}